html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    line-height: 1.65;
    padding-bottom: 1000px;
}

/*latihan 1*/
.container-satu {
    width: 800px;
    margin:50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama {
    flex: 3;
    order: 2;
}

.sidebar-satu {
    flex: 1;
    order: 1;
}

.sidebar-dua {
    flex: 1;
    order: 3;
}

/*latihan2*/
.container-dua {
    max-width:800px;
    margin: 50px auto;
}

.layanan {
    padding: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.layanan.satu {background-color: rgb(110, 110, 253);
}
.layanan.dua {background-color: rgb(181, 248, 81);
}
.layanan.tiga {background-color: rgb(247, 98, 98);
}

.container-tiga {
    width: 800px;
    height: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.thumbnail{
    width: 50%;
}

.thumbnail img{
    width: 100px;
}

.container-empat {
    width: 800px;
    margin: 50px auto;
    display: flex;

}

.card {
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    margin: 10px;
    flex: 1;
}

.card .header {
    height: 150;
    background-color: dimgrey;     
}

.card .content {
    text-align: center;
    padding-bottom: 20px;
}

.card .besar {
    transform: scale(1.12);
}

.container-lima{
    width: 500px;
    height: 500px;
    margin: 50x auto;
    border: 5px solid black ;
    display: flex;
}

.kotak {
    width: 100px;
    height: 100px;
    background-color: red;
    color: #fff;
    text-align: center;
    margin: auto;
}

.kotak .span {
    margin: auto;
}

/*responsive*/
@media(min-width: 600px) {
    .container-dua {
        display: flex;
        justify-content: space-between;
    }
    .layanan {
        width: 30%;
    }
    .thumbnail{
        width: 100%;
    }

}